<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.goods.infra.mapper.CategoryAttributeValueMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.goods.domain.entity.CategoryAttributeValue">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="attribute_id" property="attributeId" jdbcType="DECIMAL"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="DECIMAL"/>
    </resultMap>

    <delete id="deleteByCategoryId" parameterType="Long">
        DELETE
        FROM sgoo_category_attribute_value
        WHERE EXISTS(
              SELECT 1
              FROM sgoo_category_attribute t_attr
              WHERE t_attr.category_id = #{categoryId}
                AND t_attr.id = sgoo_category_attribute_value.attribute_id
          )
    </delete>
</mapper>