<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.goods.infra.mapper.SkuDraftMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.goods.domain.entity.SkuDraft">
        <result column="sku_id" property="skuId" jdbcType="DECIMAL"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="show_flag" property="showFlag" jdbcType="DECIMAL"/>
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
        <result column="sales_price" property="salesPrice" jdbcType="DECIMAL"/>
        <result column="activity_price" property="activityPrice" jdbcType="DECIMAL"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="distribution_price" property="distributionPrice" jdbcType="DECIMAL"/>
        <result column="wholesale_price" property="wholesalePrice" jdbcType="DECIMAL"/>
        <result column="clearing_price" property="clearingPrice" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="length" property="length" jdbcType="DECIMAL"/>
        <result column="width" property="width" jdbcType="DECIMAL"/>
        <result column="height" property="height" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>