<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.order.infra.mapper.ItemMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.order.domain.entity.Item">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="outer_order_no" property="outerOrderNo" jdbcType="VARCHAR"/>
        <result column="inner_order_no" property="innerOrderNo" jdbcType="VARCHAR"/>
        <result column="outer_item_id" property="outerItemId" jdbcType="DECIMAL"/>
        <result column="spu_code" property="spuCode" jdbcType="VARCHAR"/>
        <result column="spu_type" property="spuType" jdbcType="DECIMAL"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="refund_qty" property="refundQty" jdbcType="DECIMAL"/>
        <result column="return_qty" property="returnQty" jdbcType="DECIMAL"/>
        <result column="set_flag" property="setFlag" jdbcType="DECIMAL"/>
        <result column="gift_flag" property="giftFlag" jdbcType="DECIMAL"/>
        <result column="multi_flag" property="multiFlag" jdbcType="DECIMAL"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="totalOrderItemSaleReport" resultType="org.skyer.order.api.vo.SaleItemReportVO">
        SELECT
            item.spu_code spuCode,
            sum( afterItemSum.reverseItemCount ) reverseItemCount,
            sum( afterItemSum.reverseAmount ) reverseAmount,
            count( DISTINCT item.inner_order_no ) orderCount,
            sum( item.quantity ) saleCount,
            sum( itemPrice.amount ) saleAmount
        FROM
            sord_item item
                LEFT JOIN sord_header header on item.inner_order_no = header.inner_order_no
                LEFT JOIN sord_item_price itemPrice ON item.id = itemPrice.order_item_id
                AND itemPrice.type = 5
                LEFT JOIN ( SELECT origin_item_id item_id, sum( quantity ) reverseItemCount, sum( unit_price ) reverseAmount FROM sord_after_sale_item afterItem GROUP BY origin_item_id ) afterItemSum ON afterItemsum.item_id = item.id
        WHERE
            1=1
        <if test="dto.itemCodeName != null">
            AND (item.spu_code like CONCAT('%',#{dto.itemCodeName},'%') or item.spu_name like CONCAT('%',#{dto.itemCodeName},'%'))
        </if>
        <if test="dto.startDate != null">
            AND header.order_time &gt;= #{dto.startDate}
        </if>
        <if test="dto.endDate != null">
            AND header.order_time &lt;= #{dto.endDate}
        </if>
        <if test="dto.channel">
            AND header.channel = #{dto.channel}
        </if>
        GROUP BY
            item.spu_code
    </select>

</mapper>