<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.order.infra.mapper.ItemSnapshotMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.order.domain.entity.ItemSnapshot">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="outer_order_no" property="outerOrderNo" jdbcType="VARCHAR"/>
        <result column="inner_order_no" property="innerOrderNo" jdbcType="VARCHAR"/>
        <result column="spu_id" property="spuId" jdbcType="DECIMAL"/>
        <result column="spu_code" property="spuCode" jdbcType="VARCHAR"/>
        <result column="spu_name" property="spuName" jdbcType="VARCHAR"/>
        <result column="spu_type" property="spuType" jdbcType="DECIMAL"/>
        <result column="sku_id" property="skuId" jdbcType="DECIMAL"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="brand_info" property="brandInfo" jdbcType="VARCHAR"/>
        <result column="material_info" property="materialInfo" jdbcType="VARCHAR"/>
        <result column="attribute_info" property="attributeInfo" jdbcType="VARCHAR"/>
        <result column="category_info" property="categoryInfo" jdbcType="VARCHAR"/>
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
        <result column="sale_price" property="salePrice" jdbcType="DECIMAL"/>
        <result column="promotion_price" property="promotionPrice" jdbcType="DECIMAL"/>
        <result column="distribute_price" property="distributePrice" jdbcType="DECIMAL"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="batch_price" property="batchPrice" jdbcType="DECIMAL"/>
        <result column="settle_price" property="settlePrice" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="length" property="length" jdbcType="DECIMAL"/>
        <result column="width" property="width" jdbcType="DECIMAL"/>
        <result column="height" property="height" jdbcType="DECIMAL"/>
        <result column="set_flag" property="setFlag" jdbcType="DECIMAL"/>
        <result column="gift_flag" property="giftFlag" jdbcType="DECIMAL"/>
        <result column="multi_flag" property="multiFlag" jdbcType="DECIMAL"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>