<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.stock.infra.mapper.ResultRecordMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.stock.domain.entity.ResultRecord">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="order_id" property="orderId" jdbcType="DECIMAL"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="result_code" property="resultCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="DECIMAL"/>
        <result column="receive_warehouse_id" property="receiveWarehouseId" jdbcType="DECIMAL"/>
        <result column="receive_warehouse_code" property="receiveWarehouseCode" jdbcType="VARCHAR"/>
        <result column="receive_warehouse_name" property="receiveWarehouseName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="odo_id" property="odoId" jdbcType="DECIMAL"/>
        <result column="odo_code" property="odoCode" jdbcType="VARCHAR"/>
        <result column="wms_code" property="wmsCode" jdbcType="VARCHAR"/>
        <result column="shipping_no" property="shippingNo" jdbcType="VARCHAR"/>
        <result column="delivery_type" property="deliveryType" jdbcType="DECIMAL"/>
        <result column="receiver_name" property="receiverName" jdbcType="VARCHAR"/>
        <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR"/>
        <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR"/>
        <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR"/>
        <result column="receiver_country" property="receiverCountry" jdbcType="VARCHAR"/>
        <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR"/>
        <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR"/>
        <result column="receiver_district" property="receiverDistrict" jdbcType="VARCHAR"/>
        <result column="out_logic_warehouse_id" property="outLogicWarehouseId" jdbcType="DECIMAL"/>
        <result column="out_logic_warehouse_name" property="outLogicWarehouseName" jdbcType="VARCHAR"/>
        <result column="out_logic_warehouse_code" property="outLogicWarehouseCode" jdbcType="VARCHAR"/>
        <result column="logistic_company" property="logisticCompany" jdbcType="VARCHAR"/>
        <result column="logistic_company_code" property="logisticCompanyCode" jdbcType="VARCHAR"/>
        <result column="logistic_company_id" property="logisticCompanyId" jdbcType="DECIMAL"/>
        <result column="logistic_business" property="logisticBusiness" jdbcType="VARCHAR"/>
        <result column="logistic_business_code" property="logisticBusinessCode" jdbcType="VARCHAR"/>
        <result column="logistic_business_id" property="logisticBusinessId" jdbcType="DECIMAL"/>
        <result column="shop_id" property="shopId" jdbcType="DECIMAL"/>
        <result column="shop_code" property="shopCode" jdbcType="VARCHAR"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="channel_type_code" property="channelTypeCode" jdbcType="VARCHAR"/>
        <result column="out_type" property="outType" jdbcType="VARCHAR"/>
        <result column="postage" property="postage" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectList" resultType="org.skyer.stock.domain.vo.ResultRecordListVO">
        SELECT t1.*, t2.already_out_qty
        FROM sstock_result_record t1
        LEFT JOIN (SELECT result_id, SUM(real_num) already_out_qty FROM sstock_result_detail GROUP BY result_id) t2
        ON t1.id = t2.result_id
        <where>
            <if test="orderId != null">
                AND t1.order_id = #{orderId}
            </if>
            <if test="orderCode != null and orderCode != ''">
                AND t1.order_code = #{orderCode}
            </if>
            <if test="queryCode !=null and queryCode !=''">
                AND (t1.result_code = #{queryCode} OR t1.odo_code = #{queryCode})
            </if>
            <if test="channelTypeCode != null and channelTypeCode!=''">
                AND t1.channel_type_code = #{channelTypeCode}
            </if>
            <if test="shopIdList!=null and shopIdList.size()>0">
                AND t1.shop_id IN
                <foreach collection="shopIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="outLogicWarehouseCode != null and outLogicWarehouseCode != ''">
                AND t1.out_logic_warehouse_code = #{outLogicWarehouseCode}
            </if>
            <if test="beginCreationDate != null">
                AND t1.creation_date >= #{beginCreationDate}
            </if>
            <if test="endCreationDate != null">
                AND t1.creation_date &lt;= #{endCreationDate}
            </if>
        </where>

    </select>
    <!--    发货汇总 statsType为1时增加仓库的分组和统计-->
    <select id="statsLogisticsResult" resultType="org.skyer.stock.domain.vo.LogisticsResultVO">
        SELECT
            <if test="statsType == 1">
                t1.out_logic_warehouse_id warehouse_id,
                t1.out_logic_warehouse_name warehouse_name,
            </if>
            t1.logistic_company_id logistics_company_id,
            t1.logistic_company logistics_company_name,
            count(1) shipping_qty,
            count(1) package_qty,
            SUM(t2.sku_qty) goods_qty,
            SUM(t1.postage) postage_total
        FROM sstock_result_record t1
            LEFT JOIN ( SELECT result_id, sum( real_num ) sku_qty FROM sstock_result_detail GROUP BY result_id) t2
            ON t1.id = t2.result_id
        <where>
            <if test="beginDate != null"> AND t1.creation_date &gt;= #{beginDate}</if>
            <if test="endDate != null"> AND t1.creation_date &lt;= #{endDate}</if>
            <if test="warehouseIds != null and warehouseIds.size() > 0">
                AND t1.out_logic_warehouse_id IN
                <foreach collection="warehouseIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
            <if test="logisticsCompanyIds != null and logisticsCompanyIds.size() > 0">
                AND t1.logistic_company_id IN
                <foreach collection="logisticsCompanyIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
        </where>
        GROUP BY
            <if test="statsType == 1">t1.out_logic_warehouse_id, t1.out_logic_warehouse_name,</if>
            t1.logistic_company_id, t1.logistic_company
        ORDER BY
            <if test="statsType == 1">t1.out_logic_warehouse_id, t1.out_logic_warehouse_name,</if>
            t1.logistic_company_id, t1.logistic_company


    </select>
</mapper>