<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.stock.infra.mapper.WarehouseWarrantLogisticsMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.stock.domain.entity.WarehouseWarrantLogistics">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="logistics_company_id" property="logisticsCompanyId" jdbcType="DECIMAL"/>
        <result column="logistics_company_name" property="logisticsCompanyName" jdbcType="VARCHAR"/>
        <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR"/>
        <result column="warehouse_warrant_id" property="warehouseWarrantId" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>