<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.skyer.afterSales.infra.mapper.LogisticsCompanyMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.skyer.afterSales.domain.entity.LogisticsCompany">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="enable_flag" property="enableFlag" jdbcType="TINYINT"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="BIGINT"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="INTEGER"/>
    </resultMap>
</mapper>